/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock

#gulp
dist
public/swagger_local
node_modules
yamls/swagger_local.yaml
yamls/swagger.yaml